<!-- Botão de pesquisa -->
<div id="top-search" class="header-misc-icon">
  <a href="#" id="top-search-trigger" (click)="toggleSearch(); $event.preventDefault();">
    <i class="icon-line-search" *ngIf="!searchActive"></i>
    <i class="icon-line-cross" *ngIf="searchActive"></i>
  </a>
</div>

<!-- Formulário Live Search -->
<div class="top-search-form" [class.active]="searchActive">
  <input
    #searchInput
    type="text"
    placeholder="Procurar produto..." />
    

    <div class="search-modal" *ngIf="results.length > 0">
      <div class="modal-content">
        <h4>Resultados:</h4>
        <div class="result-item" *ngFor="let item of results">
          <img [src]="item.image" alt="{{ item.name }}" />
          <div class="info">
            <strong>{{ item.name }}</strong><br />
            Marca: {{ item.brand }}<br />
            Preço: {{ item.price }} €
          </div>
        </div>
      </div>
      <p *ngIf="results.length === 0 && searchInput.value.length >= 2" class="no-results">
    Nenhum produto encontrado.
  </p>
    </div>

  <!-- Nenhum resultado -->
  
</div>
